.grid-cards {
	padding: 16px;
	display: grid;
	grid-template-areas:
	"titulo ver-tudo"
	"card1 card2"
	"card3 card4";
	grid-gap: 16px;
	/*50vw:  metade da tela, 8px metade do gap pra cada lado, 16px padding*/
	grid-template-columns: repeat(2, calc(50vw - 8px - 16px));
}

.grid-cards--similares {
	grid-template-areas:
        "titulo titulo"
        "card1 card2"
        "card3 card4";
}
.grid-cards__ver-tudo {
	justify-self: flex-end;
}

.grid-cards__title {
	grid-area: titulo;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--preto-100);
}

.grid-cards__ver-tudo {
	grid-area: ver-tudo;
}

.card--home:nth-of-type(1) {
	grid-area: card1;
}
.card--home:nth-of-type(2) {
	grid-area: card2;
}
.card--home:nth-of-type(3) {
	grid-area: card3;
}
.card--home:nth-of-type(4) {
	grid-area: card4;
}
.card--home:nth-of-type(5) {
	grid-area: card5;
	display: none;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 8px;
	border: solid 1px black;
	border-radius: 5px;
	box-shadow: 2px 2px 5px grey;
	padding-bottom: 1rem;
	max-height: 20rem;
	overflow: hidden;
	background: var(--branco);
}

.card__img {
	width: 100%;
	height: 60%;
}


.card__titulo {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--preto-100);
}

.card__preco {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--preto-100);
}

.produtos__link {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--azul-100);
	margin-top: auto;
}

@media screen and (min-width: 768px) {

	.grid-cards {
		grid-template-areas:
		"titulo titulo ver-tudo ver-tudo"
		"card1 card2 card3 card4";
		grid-template-columns: repeat(4, calc(25vw - 24px));
	}
	.card__titulo {
		font-size: 16px;
		line-height: 18px;
	}

	.card__preco {
		font-size: 18px;
		line-height: 20px;
	}

	.produtos__link {
		font-size: 16px;
		line-height: 18px;
	}


}

@media screen and (min-width: 1024px) {

	.grid-cards {
		grid-template-columns: repeat(5, calc(15vw));
		padding-inline: 10vw;
		grid-template-areas:
		"titulo titulo titulo ver-tudo ver-tudo"
		"card1 card2 card3 card4 card5";
		
	}
	.card {
		max-height: 22rem;
	}

	.card:nth-of-type(5) {
		display: flex;
	} 

	.card__titulo {
		font-size: 20px;
		line-height: 22px;
	}

	.card__preco {
		font-size: 22px;
		line-height: 24px;
	}

	.produtos__link {
		font-size: 20px;
		line-height: 22px;
	}

	.card__img {
		height: 60%;
	}
}