.login__container, .login__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login__container {
	padding: 5rem 1rem;
	background: #F5F5F5;
}

.login__form {
	max-width: 450px;
	gap: 16px;
	background: transparent;
}

.login__mail,
.login__pass {
	width: 100%;
	padding: 0.5rem 1rem;
	border-bottom: solid 1px var(--azul-20);
	border-right: solid 1px var(--azul-20);
	border-radius: 4px;	
	color: var(--preto-100);
}


.login__mail::placeholder,
.login__pass::placeholder {
	color: var(--preto-30);
}